nav.auth {
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  padding: 5px 16px;
  border: Solid 1px black;
}

.auth-tools-wrap {
    position: fixed;
    left: 50%;
    top: 50%;
    background: white;
    border-radius: 10px;
    translate: -50% -50%;
    box-shadow: 0 0 5px;
    z-index: 1000;
    width: min(calc(100vw - max(24px, 10vw)), 1100px);
    height: calc(100vh - max(24px, 10vh));
}

.auth button {
    background-color: #0d6efd;
    color: white;
    padding: 0.1em 0.6em;
    border: 0;
    border-radius: 0.3em;
    cursor: pointer;
    margin: 0.2em 0.18em;
}

.auth button:hover {
    background-color: #0b5ed7;
}


BODY.auth-back:after {
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: #18181885;
}

.auth button[tx-icon][close] {
    position: absolute;
    right: -11px;
    top: -11px;
    border-radius: 50%;
    box-shadow: 0 0 1px 4px white;  
}

.auth-tools-wrap > h1 {
    border-bottom: Solid 1px #bfbdbd;
}

.auth-tools {
    word-break: break-all;
    padding: 0.4em;
}

.auth[class][class] A{
  color:#0d6efd;
}

.auth-tools-wrap {
    display: grid;
    grid-template-columns: 184px 1fr; /* Fixed width for nav, remaining space for .auth-tools */
    grid-template-rows: auto 1fr; /* Size of rows adjusts to content */
     /* Optional: adds space between grid items */
}

.auth-tools-wrap > h1 {
    grid-column: 1 / -1; /* h1 spans the full width of the grid */
}

.auth-tools-wrap > nav {
  display: flex;
  flex-direction:column;
  background: #dcdada;
  gap: 0;
  padding: 0;
  border: 0;
}

.auth-tabs > a {
    background: #f2f2f2;
    padding: 0.3em 0.5em 0.4em;
    margin: 0;
    outline: 0;
    border-bottom: Solid 1px #aca9a9;
}

.auth-tools-wrap > h1 {
    font-size: 140%;
    padding: 5px 10px 6px;
    text-align: center;
    margin: 0;
    border-top-left-radius: 10px;
}

.auth-tabs > a[active], .auth-tabs > a:hover {
    background: #d1dcff;
}

.auth .ul-tbl {
    padding: 0;
    list-style-type: none;
}

.auth .ul-tbl > li:not(:last-child) {
    border-bottom: Solid 1px #bfbdbd;
}

.auth .ul-tbl > li {padding: 0.3em;padding-left: 1em;padding-top: 0.4em;}

.auth .ul-tbl > li:before {
    content: '';
    display: inline-block;
    padding: 0.3em;
    background: #0d6efd;
    border-radius: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -0.8em;
}

.auth-tabs > a[active] {
  border-left: Solid 0.5em #0d6efd;
}

@media(max-width:600px){
  .auth-tools-wrap > * {
      grid-column: 1 / -1;
  }
  
  .auth-tools-wrap {grid-template-rows: auto auto 1fr;}
  
  .auth-tools-wrap h1 + nav:not(:hover) {
      display: none;
  }
  
  .auth-tools-wrap h1:hover + nav {
      display: flex;
  }

  .auth-tools-wrap > h1:after {
      content: '▶';
      display: inline-block;
      margin-left: 0.2em;
      color: #0d6efd;
      transform: rotateZ(90deg);
      font-size: 80%;
  }
  
  .auth-tools-wrap > h1:hover:after {
      transform: rotateZ(-90deg);
  }
  
  .auth-tools-wrap > h1:hover {
      cursor: pointer;
      background: #c7daf0;
  }  
}


/*Client. TODO: Move to Client!!! This is just demo here!! */
.cntr a:hover {
    background: #e9e9e9;
}

.searchbox nav.auth {
    position: static;
    border:0;
    padding: 0;
}

.searchbox nav.auth {
    position: static;
    border:0;
    padding: 0;
}

.searchbox div.auth[class] a, .cntr nav.auth[class] a {
  padding: 8px 15px 8px;
  background: #980000;
  color: white;
  display: block;
  white-space:nowrap
}

.searchbox div.auth[class] A:hover {
    background: #c06b6b;
}

.cntr nav.auth[class] a {margin: 3px;line-height: 100%;}

.searchbox .rblk:first-child {
    margin-right: 0;
}

.searchbox {
    gap: 5px;
}

.cntr[class] a {
  align-items: center; /* Vertically centers the content */
  display:flex;
}

.cntr a:hover {
    background: #e9e9e9;
}

.cntr.cntr a > span{margin-top:0;}


@media(max-width: 780px){
    .cntr nav.auth {position: static;border: 0;padding: 0;background: #f9f5ef;}
    .cntr .auth, .cntr .auth[class][class] a {display:flex;}
    .cntr nav.auth {
      justify-content: center;
      flex: 1;
    }
    .cntr .authcli {display:none;}
    .cntr[class] a {
        padding: 0.2em;
    }
    .cntr {
        display: flex;
        padding: 0;
        flex-wrap: wrap;
        align-content: unset;
    }
    .cntr > a {
        flex: 2;
        min-width: 200px;
        justify-content: center;
    }
}

@media(min-width: 781px){
    .searchbox nav.auth {
      position: relative;border: 0;padding: 0;background: #b3b3b3;
      height:40px; overflow: hidden;
    }
    .searchbox nav.auth:hover {
      overflow:visible;
    }
}
