nav.auth {
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  padding: 5px 16px;
  border: Solid 1px black;
}

.auth-tools-wrap {
    position: fixed;
    left: 50%;
    top: 50%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    translate: -50% -50%;
    box-shadow: 0 0 5px;
    z-index: 1000;
    width: min(calc(100vw - max(24px, 10vw)), 800px);
    height: calc(100vh - max(24px, 10vh));
}

.auth button {
    background-color: #0d6efd;
    color: white;
    padding: 0.1em 0.6em;
    border: 0;
    border-radius: 0.3em;
    cursor: pointer;
    margin: 0.2em 0.18em;
}

.auth button:hover {
    background-color: #0b5ed7;
}


BODY.auth-back:after {
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: #18181885;
}

.auth button[tx-icon][close] {
    position: absolute;
    right: -11px;
    top: -11px;
    border-radius: 50%;
    box-shadow: 0 0 1px 4px white;  
}

.auth-tools-wrap > h1 {
    font-size: 140%;
    border-bottom: Solid 1px #dedede;
    margin: -13px -20px 0 -20px;
    padding: 0 10px 6px;
    text-align: center;
    margin-bottom: 10px;
}
